.counter {
  width: 90%;
  max-width: 250px;
  height: auto;
  padding: 20px;
  background: linear-gradient(135deg, #c0f8c8, #94b2c1);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

@media (max-width: 600px) {
  .counter {
      font-size: 1rem;
      padding: 15px;
  }
}
.btn {
  border: 2px solid green;
  margin: 2px 2px;
  border-radius: 5px;
  background-color: rgb(217, 245, 245);
}